{
  "extends": "@sujian/typescript",
  "rules": {
    "space-before-blocks": "off",
    "@typescript-eslint/space-before-blocks": "error",
    "@typescript-eslint/type-annotation-spacing": "error"
  }
}
